<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Game Search</title>
</head>
<body>

    <form action="/handle_form" method="POST">
        <p>
            Please input a game related word to Search: <input name="name" type="text"/><br/><br/><br/>
        </p>
        
        <p>
            Please choose the order to show result:
            <select name="order">
                <option value="1">Relevent</option>
                <option value="2">Price</option>
                <option value="3">Score</option>
            </select>

        </p>

        <p>
            Please choose the way to show your result:
            <select name="way">
                <option value="2">Plot</option>
                <option value="3">Web</option>
            </select>

        </p>


        <input type="submit" value="Submit Form"/>
    </form>
</body>
</html>